* {
    padding: 0;
    margin: 0;
}
body{
  font-family: Pristina;background: rgb(238,174,202);
     background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
 }.fixed-top{
  background-color: #63d065;
}
i {
  width: 20px;
  height: 20px;
  text-align: center;
}
.icon {
  position: relative;
  top: 0px;
  right: 0px;
}

@media only screen and (max-width: 425px) {
  .info-contact .text-center img {
    width: 150px;
  }
  .our-webcoderskull .cnt-block img {
    width: 100px !important;
  }
  .info-contact .mt-50 {
    margin-top: 10px;
  }
  .info-contact h5 {
    font-size: 13px;
  }
  .info-customer h5 {
    font-size: 13px;
  }
  .info-customer label b {
    font-size: 12px;
  }
  input[type=text], input[type=password] {
    font-size: 11px !important;
  }
  textarea {
    font-size: 11px !important;
  }
  label {
    margin-bottom: 0rem;
  }
  .info-contact .mt-50 p {
    font-size: 10px;
    margin-bottom: 0;
  }
  .modal-content {
    width: 80% !important;
  }
  .web-detail .more-info {
    line-height: 37px !important;
  }
  web-detail:hover{
    box-shadow: 0px 0px 10px #D8D8D8;

  }
  .web-detail .more-info .see-more {
    font-size: 11px !important;
    height: 26px !important;
  }
  .no-js .owl-carousel, .owl-carousel.owl-loaded {
    height: 150px !important;
  }
  .nav-link {
    font-size: 11px;
  }
  .text-center.button a,
  .text-center.button button {
    font-size: 10px;
  }
  .text-center.button a {
    float: left;
    height: 30px;
  }
  .text-center.button button {
    float: right;
    height: 30px;
  }
  .navbar-light .navbar-nav .nav-link {
    text-transform: uppercase;
    font-weight: 500;
    position: relative ;
    top: 5px !important;
    font-size: 13px !important;
  }
  .navbar-light .navbar-brand {
    padding-left: 0 !important;
  }
  .nav.navbar-nav.navbar-right {
    padding-right: 0 !important;
  }
  .close {
    font-size: 20px !important;
  }
  .navbar-light .navbar-brand {
    padding-left: 0!important;
  }
  .all-web .web-info a {
    font-size: 10px;
  }
  .split span {
    font-size: 8px;
  }
  .about-me {
    padding-bottom: 15px;
  }
  .footer h4 {
    padding-bottom: 0;
  }
  .footer span {
    line-height: 20px !important;
    font-size: 13px !important;
  }
  .footer .about-me a, .footer .service a {
    line-height: 20px !important;
    font-size: 13px !important;
  }
  center span {
    margin: 0 20px;
  }
  center {
    top: 63px !important;
  }
  .slider-product.owl-carousel .owl-item img {
    height: 86px !important;
  }
  .btn.see-more {
    font-size: 10px;
    height: 30px;
  }
  .name-web span {
    font-size: 20px !important;
  }
  .row.heading h2 {
    font-size: 20px !important;
  }
}
@media only screen and (max-width: 994px) {
  .all-web .web-info img {
    width: 290px !important;
    height: 290px !important;
  }
}
.text-center.button a {
  float: left;
}
.text-center.button button {
  float: right;
}
.footer span,
.footer .about-me a, 
.footer .service a {
  font-size: 17px !important;
}
@media only screen and (max-width: 768px) {
  .modal-content {
    width: 83% !important;
  }
  .comment img {
    width: 250px !important;
  }
  .nav.navbar-nav.navbar-right li a {
    font-size: 14px !important;
  }
  .navbar-nav .dropdown-menu{
    width: 100%;
    text-align: center;
  }
  a {
        color: #25ff54;
        text-decoration: none;
    }
    .collapse .navbar-nav .nav-item a{
        text-decoration:none !important;
    }
  .collapse.navbar-collapse {
  margin-left: 0px !important;
  }
  .all-web .web-info img {
    width: 250px;
    height: 250px;
  }
}
@media only screen and (max-width: 425px) {
  
}
.more-info {
  font-size: 14px;
  position: absolute;
  right: 45px;
  top: 260px;
  cursor: pointer;
}

.more-info i {
  position: relative;
  top: 1px;
}

.web-detail .more-info a {
  text-decoration: none;
}

/*.collapse.navbar-collapse {
  margin-left: 60%;
}*/

.bg-nav {
    background-color: #f7f7f7;
}

.navbar-brand {
    padding-left: 0;
}

.navbar-light .navbar-nav .nav-link {
    text-transform: uppercase;
    font-weight: 500;
}

.dropdown-menu {
    width: 250px;
}

.dropdown-menu a {
    transition: 0.5s;
    text-transform: capitalize;
}

.dropdown-menu a:hover {
    background-color: yellow;
    /*padding-left: 15%;*/
}




.intro {
    margin: 10px 0;
    padding: 10px 0;
}

.intro img {
    width: 60px;
    vertical-align: -14px;
    margin-right: 5px;
}

.intro span {
  font-family: auto;
    font-size: 40px;
    font-weight: 600;
}

.web-info img {
    width: 60%;
}

.owl-theme .item img {
    height: 375px;
}

.owl-nav {
    display: none;
}

.owl-dots {
    position: relative;
    top: -50px;
}

.slider-product .owl-stage, 
.slider-product.owl-carousel {
  height: none;
}

.slider-product.owl-carousel .owl-item img {
    height: 150px;
    cursor: pointer;
}

.slider-product .owl-dots {
    display: block;
    position: relative;
    /*top: 35px;*/
    margin-bottom: 15px;
}
.fixed-top{
  top: none !important;
}
.slider-product .owl-nav {
    display: none;
}

.slider-product .item a {
    text-align: center;
    text-decoration: none;
}

.slider-product.owl-theme .owl-nav {
    margin-top: 0;
}

.slider-product .owl-nav button span {
    font-size: 30px;
}
.name-web {
  text-align: center;
    /*font-family:Pristina ;*/
    text-transform: capitalize;
    /* padding-bottom: 3%; */
    padding-left: 3%;
}

.name-web span {
    font-size: 40px;
    color: black;
    font-weight: 600px;
}

.slider-product .owl-nav button.owl-next:hover {
    background-color: none;
}

.row-group {
    padding: 25px 0;
}

.gray {
  background-color: #eccff1;
}

center {
  position: relative;
  top: 95px;
  padding-bottom: 140px;
}

center h3 {
  margin-bottom: 15px;
}
.comment {
  padding-top: 50px;
}

.comment h3 {
    margin-bottom: 25px;
    text-transform: capitalize;
}

.comment img {
    width: 100px;
    padding-bottom: 10px;
}

.comment .user-comment p {
    margin-top: 10px;
}

.line {
    border: 1px solid;
    width: 10%;
    margin: 0 auto;
    margin-bottom: 50px;
}

.footer {
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  padding: 25px 0;
}

.footer h4 {
    padding-bottom: 1rem;
}

.footer span {
  line-height: 35px;
  font-size: 12px;
}

.footer span a {
  color: darkgreen;
}

.split {
    background: #124856;
    color: gray;
}

.web-detail {
    border-radius: 10px;
    padding: 25px 20px 0px 20px;
}

.web-detail:hover {
  background: #97484026;
  box-shadow: 0px 5px 10px 3px #a6a6a6;
}

.web-detail-info {
  padding-bottom: 20px;
  margin-top:20px;
  border-radius: 10px 10px 10px 10px;
  transition: all 0.5s 0.1s ;

}
.web-detail-info:hover {
  box-shadow: 0px 0px 5px rgba(145, 114, 114, 0.2);
  background: #E6E6E6;

}
.user-comment img {
    width: 150px;
    padding: 0;
    border-radius: 50%;
    margin-bottom: 15px;
}

.footer .about-me a,
.footer .service a {
    text-decoration: none;
    color: black;
    line-height: 30px;
    font-size: 10px;
}

.footer .about-me a:hover,
.footer .service a:hover {
  padding-left: 3%;
  transition: 0.4s;
  transition-timing-function: ease-in-out;
  color: blueviolet;
}
.footer .about-me i,
.footer .service i {
  color: forestgreen;
  font-size: 10px;
}

#back-to-top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 9999;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 30px;
    background: pink;
    color: #444;
    cursor: pointer;
    border-radius: 2px;
    text-decoration: none;
    transition: opacity 0.2s ease-out;
    opacity: 0;
    font-size: 30px;
}
.mt-50 {
  margin-top: 50px;
}

#back-to-top.show {
    opacity: 1;
}

.pl-50 {
  padding-left: 5%;
}

.all-web {
  padding: 100px 0;
}

.all-web .web-info {
  margin-bottom: 50px;
}

.all-web .web-info h5 {
  text-transform: uppercase;
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 22px;
  margin-bottom: 15px;
  color: #002e5b;
}

.all-web .web-info img {
  width: 425px;
  height: 425px;
}

.all-web .web-info a {
  margin-top: 2%;
}

.all-web .web-info img:hover {
  cursor: pointer;
  box-shadow: 1px -1px 10px 3px #8c8c8c;
}

/* Full-width input fields */
input[type=text],
input[type=password] {
    width: 100%;
    padding: 10px 5px;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
}

/* Set a style for all buttons */
button {
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

span.psw {
    float: right;
    padding-top: 16px;
}

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 1% auto 15% auto;
    border: 1px solid #888;
    width: 80% !important;
}

.close {
  right: 5px;
  top: 5px;
  color: #000;
  font-size: 35px;
  font-weight: bold;
  position: absolute;
  z-index: 2;
}
i.next {
  position: relative;
    top: 0px;
    right: 5px;
}
i.icon {
  position: relative;
  top: 0;
  right: 0;
}
.comment img {
  width: 300px;
}
.info-contact h5,
.info-customer h5 {
  font-weight: bold;
}
input[type=text], input[type=password] {
  font-size: 15px;
  padding: 5px 3px;
  margin: 0;
  margin-bottom: 5px;
}
.navbar-light .navbar-brand {
  padding-left: 10%;
}
.nav.navbar-nav.navbar-right {
  padding-right: 10%;
}
.nav.navbar-nav.navbar-right li a {
  color: black;
  font-size: 20px;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

.btn.see-more {
  position: relative;
  z-index: 100;
  background: #04B404;
  color:#ffffff;
  border:gray solid 1px;
  transition: all 0.5s 0s;
}
.btn.see-more:hover
{
  color:#FFFF00; 
  box-shadow: 0px 0px 10px grey;
  transform: scale(1.2);
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

/* Change styles for span and cancel button on extra small screens */




* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* .active {
  background-color: #717171;
} */

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */

.progress{
  background: none !important;;
}.accordian{
  width: 705px;
  height: 333px;
  overflow:hidden;
  
  margin: 100px auto;
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0px 8px 6px -6px black;
}
.accordian ul{
  
}
.accordian li{
  position: relative;
  display:block;
  width:140px;
  float: left;
  
  border-left: 1px solid #888;
  -webkit-box-shadow: 0 0 25px 10px rgba(0,0,0,0.5);
  -moz-box-shadow: 0 0 25px 10px rgba(0,0,0,0.5);
  
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}


.accordian ul:hover li{
  width: 50px;
}

.accordian ul li:hover{
  width:500px;
}

.accordian li img{
  display: block;
}

.image_title{
  background: rgba(0,0,0,0.5);
  position:absolute;
  left:0;
  bottom:0;
  width:500px;
}

.image_title a{
  display: block;
  color: #fff;
  text-decoration: none;
  padding:20px;
  font-size:16px;
}
.row.heading h2 {
    color: #50356c;
    font-size: 30.52px;
    /*line-height: 95px;*/
    /*font-weight: 400;*/
    text-align: center;
    /*margin: 0 0 40px;*/
    padding-bottom: 20px;
    text-transform: uppercase;
}
ul{
  margin:0;
  padding:0;
  list-style:none;
}
.heading.heading-icon {
    display: block;
}
.padding-lg {
  display: block;
  /*padding-top: 60px;*/
  /*padding-bottom: 60px;*/
}
.practice-area.padding-lg {
    padding-bottom: 55px;
    padding-top: 55px;
}
.practice-area .inner{ 
     border:1px solid #999999; 
   text-align:center; 
   margin-bottom:28px; 
   padding:40px 25px;
}
.our-webcoderskull .cnt-block:hover {
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
    border: 0;
}
.practice-area .inner h3{ 
    color:#3c3c3c; 
  font-size:24px; 
  font-weight:500;
  font-family: 'Poppins', sans-serif;
  padding: 10px 0;
}
.practice-area .inner p{ 
    font-size:14px; 
  line-height:22px; 
  font-weight:400;
}
.practice-area .inner img{
  display:inline-block;
}

.our-webcoderskull .cnt-block{ 
   float:left; 
   width:100%; 
   background:#fff; 
   padding:30px 20px; 
   text-align:center; 
   border:2px solid #d5d5d5;
   margin: 0 0 28px;
}
.our-webcoderskull .cnt-block figure{
   width:148px; 
   height:148px; 
   border-radius:100%; 
   display:inline-block;
   margin-bottom: 15px;
}
.our-webcoderskull .cnt-block img{ 
   width:148px; 
   height:148px; 
   border-radius:100%; 
}
.our-webcoderskull .cnt-block h3{ 
   color:#2a2a2a; 
   font-size:20px; 
   font-weight:500; 
   padding:6px 0;
   text-transform:uppercase;
}
.our-webcoderskull .cnt-block h3 a{
  text-decoration:none;
  color:#2a2a2a;
}
.our-webcoderskull .cnt-block h3 a:hover{
  color:#337ab7;
}
.our-webcoderskull .cnt-block p{ 
   color:#2a2a2a; 
   font-size:13px; 
   line-height:20px; 
   font-weight:400;
}
.our-webcoderskull .cnt-block .follow-us{
  margin:20px 0 0;
}
.our-webcoderskull .cnt-block .follow-us li{ 
    display:inline-block; 
  width:auto; 
  margin:0 5px;
}
.our-webcoderskull .cnt-block .follow-us li .fa{ 
   font-size:24px; 
   color:#767676;
}
.our-webcoderskull .cnt-block .follow-us li .fa:hover{ 
   color:#025a8e;
}
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
